<h1> <%= "#{@doctor.name} M.D." %></h1>


<p> Specialty: <%= @doctor.specialty %></p>
<p> Education: <%= @doctor.education %></p>

<h3>List of Patients:</h3>
<section class = "patients">
  <ul>
    <% @doctor.patients.each do |patient| %>
      <section id="patient-<%= patient.id %>">
        <li> <%= patient.name %></li> <%= button_to "Delete Patient", "/patients/#{patient.id}", params: { doctor_id: @doctor.id }, method: :delete %> </p>
    </section>
    <% end %>
  </ul>
</section>
